NODE_PORT={{ remnawave_edge_node_port }}
SECRET_KEY={{ remnawave_edge_secret_key }}
SNI_VERIFICATION={{ remnawave_edge_sni_verification | bool | lower }}
NFTABLES_LOGGING={{ remnawave_edge_nftables_logging | bool | lower }}
NFTABLES_ACCEPT_REPLY_TRAFFIC={{ remnawave_edge_nftables_accept_reply_traffic | bool | lower }}
{% set remnawave_edge_protected_env_keys = ['NODE_PORT', 'SECRET_KEY', 'SNI_VERIFICATION', 'NFTABLES_LOGGING', 'NFTABLES_ACCEPT_REPLY_TRAFFIC'] %}
{% for item in remnawave_edge_extra_env | dict2items | sort(attribute='key') if item.key not in remnawave_edge_protected_env_keys %}
{{ item.key }}={{ item.value }}
{% endfor %}
