NODE_PORT={{ remnawave_edge_node_port }}
SECRET_KEY={{ remnawave_edge_secret_key }}
{% for item in remnawave_edge_extra_env | dict2items | sort(attribute='key') %}
{{ item.key }}={{ item.value }}
{% endfor %}
