table inet {{ vpn_test_agent_region_nftables_table_name }} {
{% if vpn_test_agent_region_firewall_allowed_ipv4_cidrs | length > 0 %}
  set allowed_ipv4 {
    type ipv4_addr
    flags interval
    elements = { {{ vpn_test_agent_region_firewall_allowed_ipv4_cidrs | join(', ') }} }
  }
{% endif %}
{% if vpn_test_agent_region_firewall_allowed_ipv6_cidrs | length > 0 %}
  set allowed_ipv6 {
    type ipv6_addr
    flags interval
    elements = { {{ vpn_test_agent_region_firewall_allowed_ipv6_cidrs | join(', ') }} }
  }
{% endif %}

  chain input {
    type filter hook input priority 0; policy accept;
    iifname "lo" tcp dport {{ vpn_test_agent_region_port }} accept
{% if vpn_test_agent_region_firewall_allowed_ipv4_cidrs | length > 0 %}
    tcp dport {{ vpn_test_agent_region_port }} ip saddr @allowed_ipv4 accept
{% endif %}
{% if vpn_test_agent_region_firewall_allowed_ipv6_cidrs | length > 0 %}
    tcp dport {{ vpn_test_agent_region_port }} ip6 saddr @allowed_ipv6 accept
{% endif %}
    tcp dport {{ vpn_test_agent_region_port }} counter drop
  }
}
