.git
.github
.idea
.vscode
.coverage
.artifacts
.cargo-targets
.hypothesis
**/.hypothesis
**/.pytest_cache
**/__pycache__
**/*.pyc
**/node_modules
**/dist
**/.next
**/coverage
**/target
**/.cargo-targets
**/.artifacts
**/artifacts
**/.turbo
**/.DS_Store
**/Thumbs.db
*.log
