NODE_DAEMON_BIND_ADDR=0.0.0.0:{{ helix_edge_control_port }}
ADAPTER_URL={{ helix_edge_adapter_url }}
ADAPTER_TOKEN={{ helix_edge_adapter_token }}
NODE_ID={{ helix_edge_node_id }}
STATE_DIR=/var/lib/helix-node
INSTANCE_ID={{ helix_edge_instance_id }}
DAEMON_VERSION={{ helix_edge_daemon_version }}
ASSIGNMENT_POLL_INTERVAL_SECONDS={{ helix_edge_assignment_poll_interval_seconds }}
HEALTH_GATE_TIMEOUT_SECONDS={{ helix_edge_health_gate_timeout_seconds }}
METRICS_PREFIX={{ helix_edge_metrics_prefix }}
LOG_LEVEL={{ helix_edge_log_level }}
ALLOW_PRIVATE_TARGETS={{ helix_edge_allow_private_targets | ternary('true', 'false') }}
{% for item in helix_edge_extra_env | dict2items | sort(attribute='key') %}
{{ item.key }}={{ item.value }}
{% endfor %}
